{# src/TripleTriade/Resources/views/TripleTriade/index.html.twig #}

{% extends "TripleTriadeBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block tripletriade_body %}

  <h2>Liste des cartes</h2>

  <ul>
    {% for card in listCards %}
      <li>
        <a href="{{ path('triple_triade_view', {'id': card.id}) }}">
          {{ card.title }}
        </a>
      </li>
    {% else %}
      <li>Pas (encore !) de cartes</li>
    {% endfor %}
  </ul>

{% endblock %}