{# src/TripleTriade/Resources/views/TripleTriade/menu.html.twig #}


<ul class="nav nav-pills nav-stacked">
  {% for card in listCards %}
    <li>
      <a href="{{ path('triple_triade_view', {'id': card.id}) }}">
        {{ card.title }}
      </a>
    </li>
  {% endfor %}
</ul>